<form [formGroup]="form">
  <label>
    <input type="radio" value="2" formControlName="gender" (click)="clearSubmit()" (change)="clearSubmit()"
      name="gender">
    <span>Lady</span>
  </label>
  <label>
    <input type="radio" value="1" formControlName="gender" (click)="clearSubmit()" (change)="clearSubmit()"
      name="gender">
    <span>Gentleman</span>
  </label>
  <br>
  <label>Enter your birthdate:</label>
  <input (click)="clearSubmit()" type="number" min="1" max="31" placeholder="DD" required formControlName="day"
    name="day" maxlength="2" size="1">
  <input (click)="clearSubmit()" type="number" min="1" max="12" placeholder="MM" required formControlName="month"
    name="month" maxlength="2" size="1">
  <input (click)="clearSubmit()" type="number" min="0" max="99" placeholder="YY" required formControlName="year"
    name="year" maxlength="2" size="1">
  <br>
  <label>Enter your zip code:</label>
  <input (click)="clearSubmit()" type="text" placeholder="75000" required formControlName="zipcode" name="zipcode"
    maxlength="5" size="2" (change)="clearSubmit()">
  <br>
  <div [style.visibility]="this.form.get('zipcode').value.substr(0,2)==='20'? 'visible' : 'hidden'">
    <label>Corsica:</label>
    <label><input type="radio" value="A" formControlName="corsica" (click)="clearSubmit()" (change)="clearSubmit()"
        name="corsica"><span>Nord</span>
    </label> <label><input type="radio" value="B" formControlName="corsica" (click)="clearSubmit()"
        (change)="clearSubmit()" name="corsica"><span>Sud</span>
    </label>
    <br>
  </div>
</form>
<div [style.visibility]="form.touched && form.invalid ? 'visible' : 'hidden'" style="color:#eb0000">Please fill the informations</div>


<br>
<br>
<label>Please fill the missing digits:</label>
<div class="wrapper">
  <div class="box">
    <input [(ngModel)]="resgender" type="text" maxlength="2" size="1" placeholder="" id="resgender" name="resgender"
      disabled>
    <input [(ngModel)]="resyear" type="text" maxlength="2" size="1" placeholder="" id="resyear" name="resyear" disabled>
    <input [(ngModel)]="resmonth" type="text" maxlength="2" size="1" placeholder="" id="resmonth" name="resmonth"
      disabled>
    <input [(ngModel)]="reszipcode" type="text" maxlength="2" size="1" placeholder="" id="reszipcode" name="reszipcode"
      disabled>
  </div>
  <div class="box">
    <form [formGroup]="form2">
      <input (click)="calculateHash()" (change)="calculateHash()"type="number" min="0" max="999" placeholder="" required
        formControlName="partOne" name="partOne" maxlength="3" size="1" required>
      <input (click)="calculateHash()" (change)="calculateHash()"type="number" min="0" max="999" placeholder="" required
        formControlName="partTwo" name="partTwo" maxlength="3" size="1" >
    </form>
  </div>
  <div class="box">
    <input [(ngModel)]="hash" type="text" maxlength="2" size="1" placeholder="" id="hash" name="hash"
      disabled>
  </div>
</div>
<div [style.visibility]="form2.touched && (form2.invalid || lastPartsNotFilled()) ? 'visible' : 'hidden'" style="color:#eb0000">Please fill the informations</div>

<div *ngIf="hash!='??' && !(form2.invalid || lastPartsNotFilled())" style="color:#009900">The social security is succesfully filled!</div>